Django==1.8.14
pytz==2016.6.1

fern==0.2

psycopg2==2.6.2

python-dateutil==2.4.2
six==1.10.0

django-bootstrap3==5.0.3
django-floppyforms==1.6.0

djorm-pgarray==1.2

dj-static==0.0.6
static3==0.5.1

raven==5.27.1
contextlib2==0.5.4
