<div class="rating-widget"><span class="desc">{{ high_desc }}</span>{% for group_name, choices in optgroups %}{% for choice in choices %}{% if choice.0 %}
  <span class="opt"><label for="{{ attrs.id }}_{{ forloop.counter }}"><input type="radio" id="{{ attrs.id }}_{{ forloop.counter }}" value="{{ choice.0 }}" name="{{ name }}"{% if required %} required{% endif %}{% if choice.0 in value %} checked{% endif %}> {{ choice.1 }}</label></span>
{% endif %}{% endfor %}{% endfor %}<span class="desc">{{ low_desc }}</span></div>
