.empty-form { display: none; }
#participant-form .remove-child { float: right; margin-top: -0.5em; }
#participant-form [for$='-DELETE'] { display: none; }
#participant-form ul { list-style-type: none; margin-left: -2.5em; }
#participant-form [for="id_payment"] { display: none; }

#select-classes-form [for$='-classes'] { display: none; }
#select-classes-form ul { list-style-type: none; margin-left: -2.5em; }
#select-classes-form .waitlist { color: red; }

.alert a { text-decoration: underline; }
.parent-attendance-label {
    margin-left: 1em;
    font-size: medium;
    font-weight: bold;
}
.child-attendance-label {
    margin-left: 3em;
    font-size: medium;
}
.attendance-select-label { margin: 0 0.5em; font-size: small; }

#spring2015survey-form [for$="_other"] { display: none; }
#spring2015survey-form [for="id_pay_more"] { display: none; }
#spring2015survey-form [for="id_time_commitment"] { display: none; }
#spring2015survey-form [for="id_overall_worthwhile"] { display: none; }
#spring2015survey-form [for="id_help_out"] { display: none; }

#fall2015eval-form [for$="_other"] { display: none; }
#fall2015eval-form [for="id_time_commitment"] { display: none; }
#fall2015eval-form [for="id_overall_worthwhile"] { display: none; }

#spring2016eval-form [for$="_other"] { display: none; }
#spring2016eval-form [for="id_time_commitment"] { display: none; }
#spring2016eval-form [for="id_overall_worthwhile"] { display: none; }

.rating-widget .desc { display: inline-block; width: 8em; }
.rating-widget .opt { padding: 1em; }
