.empty-form { display: none; }
#participant-form .remove-child { float: right; margin-top: -0.5em; }
#participant-form [for$='-DELETE'] { display: none; }
#participant-form ul { list-style-type: none; margin-left: -2.5em; }
.alert a { text-decoration: underline; }
#attendance-form [for='id_parents'] { display: none; }
#attendance-form [for='id_children'] { display: none; }
#attendance-form ul { list-style-type: none; }
