.empty-form { display: none; }
#participant-form .remove-child { float: right; margin-top: -0.5em; }
#participant-form [for$='-DELETE'] { display: none; }
#participant-form ul { list-style-type: none; margin-left: -2.5em; }
.alert a { text-decoration: underline; }
.parent-attendance-label { margin-left: 1em; font-size: small; }
.child-attendance-label { margin-left: 3em; font-size: small; }
.attendance-select-label { margin: 0 0.5em; font-size: small; }
