{% extends "session.html" %}

{% block title %}Age Groups | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: Age Groups{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'age_groups' session_id=session.id %}">Age Groups</a></li>
{% endblock %}

{% block main %}
{% for name, students in age_groups %}
<h2>{{ name }} ({{ students|length }})</h2>
<ul class="list-group">
  {% for student in students %}
  <li class="list-group-item">
    <strong>{{ student.name }}</strong> -
    <em>{{ student.gender }}</em> -
    {{ student.real_age }} ({{ student.birthdate|date:"m/d/Y" }})
    {% if student.special_needs %}: {{ student.special_needs }}{% endif %}
    {% if include_parents %}
    <ul>
      <li>
        Parent:
        {% include "_parent.html" with parent=student.parent %}
      </li>
      <li>
        Spouse: {{ student.parent.spouse }} - {{ student.parent.spouse_contact }}
      </li>
      <li>
        Emergencies: {{ student.parent.emergency }} - {{ student.parent.emergency_contact }}
      </li>
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}
