{% extends "session.html" %}

{% block title %}Age Groups | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: Age Groups{% endblock %}

{% block breadcrumb %}
{{ block.super }} &raquo;
<a href="{% url 'age_groups' session_id=session.id %}">Age Groups</a>
{% endblock %}

{% block main %}
{% for name, students in age_groups %}
<h2>{{ name }} ({{ students|length }})</h2>
<table border="1" cellpadding="5">

  <tbody>
    {% for student in students %}
    <tr>
      <th>{{ student.name }}</th>
      <td>{{ student.gender }}</td>
      <td>{{ student.real_age }}</td>
      <td>{{ student.birthdate|date:"m/d/Y" }}</td>
      <td>{{ student.special_needs }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
