{% extends "session.html" %}

{% block title %}Attendance | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: Attendance{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'classdays' session_id=session.id %}">Attendance</a></li>
{% endblock %}

{% block main %}
<div class="list-group">
  <a class="list-group-item" href="{% url 'attendance' session_id=session.id %}">New</a>
  {% for classday in session.classdays.all %}
  <a class="list-group-item" href="{% url 'attendance' session_id=session.id classday_id=classday.id %}">
    {{ classday }}
  </a>
  {% endfor %}
</div>
{% endblock %}
