<ul>
  {% for group_name, choices in optgroups %}
  {% for choice in choices %}
  <li>
    {% with choice.1.obj as cls %}
    <label for="{{ attrs.id }}_{{ forloop.counter }}">
      <input {% if choice.0 in value %}checked="checked" {% endif %}type="checkbox" id="{{ attrs.id }}_{{ forloop.counter }}" name="{{ name }}" value="{{ choice.0 }}" data-start="{{ cls.start|date:"Gi" }}" data-end="{{ cls.end|date:"Gi" }}" data-weekday="{{ cls.weekday }}" data-num-students="{{ cls.num_students }}" data-max-students="{{ cls.max_students }}" data-class-id="{{ cls.id }}" class="class-item-input">
      {{ choice.1 }}
    </label>
    {% endwith %}
  </li>
{% endfor %}{% endfor %}</ul>
