{% extends "session.html" %}

{% block title %}{{ type|capfirst }}s Contact Info | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: {{ type|capfirst }}s Contact Info{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url urlname session_id=session.id %}">{{ type|capfirst }}s Contact Info</a></li>
{% endblock %}

{% block main %}
{% if type == "parent" %}
<p class="alert alert-info" role="alert">
  Includes only parents who have paid for the session.
</p>
{% endif %}
<ul class="list-group">
  {% for p in people %}
  <li class="list-group-item">
    {% include "_contact.html" with person=p link_email=True %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
