{% extends "session.html" %}

{% block title %}Parents by Contribution | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: Parents by Contribution{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'parents_by_contribution' session_id=session.id %}">Parents by Contribution</a></li>
{% endblock %}

{% block main %}
<p class="alert alert-info">
  <strong>$</strong> = paid, <strong>*</strong> = special events only
</p>
{% for contribution, ps in participants_by_contribution.items %}
<article class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{ contribution }}</h2>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      {% for p in ps %}
      <li class="list-group-item">
        {% if p.paid %}${% endif %}
        {% if p.level == 'monthly' %}*{% endif %}
        {% include "_parent.html" with parent=p.parent %}
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endfor %}
{% endblock %}
