{% extends "session.html" %}

{% block title %}Parents | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: Parents{% endblock %}

{% block breadcrumb %}
{{ block.super }} &raquo;
<a href="{% url 'parents' session_id=session.id %}">Parents</a>
{% endblock %}

{% block main %}
<ul>
  {% for p in participants %}
  <li>
    <strong>{{ p.parent }}</strong> -
    <a href="mailto:{{ p.parent.email }}">{{ p.parent.email }}</a> -
    {{ p.parent.phone }} ({{ p.parent.phone_type }}) -
    <em>prefers {{ p.parent.preferred }}</em>
    {% if p.jobs %}: {{ p.jobs }}{% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
