{% extends "session.html" %}

{% block title %}Parents Contact Info | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: Parents Contact Info{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'parents' session_id=session.id %}">Parents Contact Info</a></li>
{% endblock %}

{% block main %}
<p class="alert alert-info" role="alert">
  Includes only parents who have paid for the session.
</p>
<ul>
  {% for p in participants %}
  <li>
    <strong>{{ p.parent }}</strong> -
    <a href="mailto:{{ p.parent.email }}">{{ p.parent.email }}</a> -
    {{ p.parent.phone }} ({{ p.parent.phone_type }}) -
    <em>prefers {{ p.parent.preferred }}</em>
    {% if p.jobs %}<div>{{ p.jobs|linebreaks }}</div>{% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
