{% extends "session.html" %}

{% block title %}All Parents | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: All Parents{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'participant_list' session_id=session.id %}">All Parents</a></li>
{% endblock %}

{% block main %}
<p class="alert alert-info" role="alert">
  Includes all parents who have signed up, paid or not.
</p>
<p class="alert alert-info">
  <strong>$</strong> = paid, <strong>*</strong> = special events only
</p>
<div class="list-group">
  {% for p in participants %}
  <a class="list-group-item" href="{% url 'participant_detail' session_id=session.id participant_id=p.id %}">
    {% if p.paid %}${% endif %}
    {% if p.level == 'monthly' %}*{% endif %}
    {% include "_parent.html" with parent=p.parent link_email=False %}
    {% if p.assigned_job_descs %}
    {% endif %}
    {% if p.job_notes or p.assigned_job_descs %}
      <div class="alert alert-success">
        {% for job in p.assigned_job_descs %}
          {{ job }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {{ p.job_notes|linebreaks }}
      </div>
    {% endif %}
  </a>
  {% endfor %}
</div>
{% endblock %}
