{% extends "base.html" %}

{% block title %}Registration done | {{ session.name }} | Wonderment{% endblock %}

{% block body %}
<h2>Thanks for registering for Wonderment {{ session.name }}!</h2>

{% if session.online_payment and owed %}
<p class="alert alert-warning" role="alert">
  <strong>Your registration is not yet complete!</strong> You have paid
  ${{ paid }} of your total of ${{ cost }}; your registration and class selections
  are not confirmed until you return to
  <a href="{{ payment_url }}">{{ payment_url }}</a> and pay the remaining ${{ owed }}.
</p>
{% else %}
<p class="alert alert-success" role="alert">
  <strong>Your registration is complete!</strong> Thanks for registering for
  Wonderment! You should receive an email with your registration details.
</p>
{% endif %}

{% endblock %}
