{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Registration{% if parent %} for {{ parent.name }}{% endif %} | {{ session.name }} | Wonderment{% endblock %}

{% block body %}
<h1>Wonderment {{ session.name }} registration{% if parent %} for {{ parent.name }}{% endif %}</h1>

{% if not parent %}
<p class="alert alert-info" role="alert">
  <strong>NOTE:</strong> If you've already registered for a previous Wonderment
  session, you don't have to enter all your information again.

  <a href="{% url 'participant_url_request' %}">Click here</a> to update your
  previous information.
</p>
{% else %}
<p class="alert alert-info" role="alert">
  If this isn't your registration information, and you haven't previously
  registered for Wonderment, please fill out the
  <a href="{% url 'new_participant_form' %}">new registrant form</a> instead.
</p>
{% endif %}

{% if parent_form.errors or children_formset.errors or participant_form.errors %}
<p class="alert alert-danger" role="alert">
  Please correct the errors below:
</p>
{% endif %}

<form method="POST" id="participant-form">
  {% csrf_token %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Parent Info</h2>
    </div>
    <fieldset class="panel-body">
      {% bootstrap_form_errors parent_form %}
      {% bootstrap_form parent_form %}
    </fieldset>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Children</h2>
    </div>
    <fieldset class="formlist panel-body">
      {% bootstrap_formset_errors children_formset %}
      {{ children_formset.management_form }}
      {% for child_form in children_formset.forms %}
        <div class="panel panel-default dynamic-form">
          <div class="panel-heading">
            <button class="btn btn-sm btn-default remove-child">Remove</button>
            <h3 class="panel-title">{{ child_form.instance.name|default:"New Child" }}</h3>
          </div>
          <div class="panel-body">
            {% bootstrap_form child_form layout="horizontal" %}
          </div>
        </div>
      {% endfor %}
      {% buttons %}
        <button class="btn btn-lg btn-default add-child">Add Another Child</button>
      {% endbuttons %}
    </fieldset>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Session Participation</h2>
    </div>
    <fieldset class="panel-body">
      {% bootstrap_form_errors participant_form %}
      {% bootstrap_form participant_form %}
    </fieldset>
  </div>

  {% buttons %}
    <button type="submit">Select Classes</button>
  {% endbuttons %}
</form>

<div class="empty-form" style="display: none;">
  <div class="panel panel-default dynamic-form">
    <div class="panel-heading">
      <button class="btn btn-sm btn-default remove-child">Remove</button>
      <h3 class="panel-title">New Child</h3>
    </div>
    <div class="panel-body">
      {% bootstrap_form children_formset.empty_form layout="horizontal" %}
    </div>
  </div>
</div>

{% endblock %}
