{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Early registration | {{ session.name }} | Wonderment{% endblock %}

{% block body %}
<h1>Wonderment {{ session.name }} early registration</h1>

<form method="POST" id="participant-form">
  {% csrf_token %}

  {% bootstrap_form_errors parent_form %}
  {% bootstrap_form parent_form %}

  <h2>Children</h2>

  {% bootstrap_formset_errors children_formset %}
  {{ children_formset.management_form }}
  {% for child_form in children_formset.forms %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ child_form.instance.name }}</h3>
      </div>
      <div class="panel-body">
        {% bootstrap_form child_form layout="horizontal" %}
      </div>
    </div>
    <div class="clearfix"></div>
  {% endfor %}

  {% bootstrap_form_errors participant_form %}
  {% bootstrap_form participant_form %}

  {% buttons %}
    <button type="submit">Submit</button>
  {% endbuttons %}
</form>
{% endblock %}
