{% extends "participant_list.html" %}
{% load wonderment %}

{% block title %}{{ participant.parent.name }} | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: {{ participant.parent.name }}{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'participant_detail' session_id=session.id participant_id=participant.id %}">{{ participant.parent.name }}</a></li>
{% endblock %}

{% block main %}
{% with participant.parent as parent %}
<article class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">
      <strong>{{ parent }}</strong> -
      <a href="mailto:{{ parent.email }}">{{ parent.email }}</a> -
      {{ parent.phone }}
      {% if parent.phone_type %}({{ parent.phone_type }}){% endif %}
    </h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Paid</dt>
      <dd>${{ participant.paid|default:0 }}</dd>
      {% if participant.assigned_job_descs %}
        <dt>Assigned to</dt>
        <dd>
          <ul>
            {% for job in participant.assigned_job_descs %}
            <li>{{ job }}</li>
            {% endfor %}
          </ul>
        </dd>
      {% endif %}
      {% if participant.job_notes %}
        <dt>Job notes</dt>
        <dd>{{ participant.job_notes|linebreaks }}</dd>
      {% endif %}
      {% if parent.participate_by_display %}
        <dt>Willing to</dt>
        <dd>
          <ul>
            {% for contribution in parent.participate_by_display %}
            <li>{{ contribution }}</li>
            {% endfor %}
          </ul>
        </dd>
      {% endif %}
      {% if parent.age_groups %}
      <dt>Work with age groups</dt>
      <dd>{{ parent.age_groups|linebreaksbr }}</dd>
      {% endif %}
      {% if parent.could_teach %}
      <dt>Could teach</dt>
      <dd>{{ parent.could_teach|linebreaksbr }}</dd>
      {% endif %}
      {% if parent.could_assist %}
      <dt>Could assist</dt>
      <dd>{{ parent.could_assist|linebreaksbr }}</dd>
      {% endif %}
      {% if parent.all_ages_help %}
      <dt>Special event ideas</dt>
      <dd>{{ parent.all_ages_help|linebreaksbr }}</dd>
      {% endif %}
      {% if parent.other_contributions %}
      <dt>Other suggestions</dt>
      <dd>{{ parent.other_contributions|linebreaksbr }}</dd>
      {% endif %}
      {% if parent.classes_desired %}
      <dt>Classes desired</dt>
      <dd>{{ parent.classes_desired|linebreaksbr }}</dd>
      {% endif %}
    </dl>
    {% if parent.kids %}
    <ul class="list-group">
      {% for child in parent.kids %}
      <li class="list-group-item">
        {{ child.name }} ({{ child|age }})
        {% if child.studies_this_session %}
        :
        {% for student in child.studies_this_session %}
        <a href="{% url 'class_detail' session_id=session.id class_id=student.klass_id %}">{{ student.klass.name }}</a> ({{ student.klass.when }})
        {% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</article>
{% endwith %}
{% endblock %}
