{% extends "participant_list.html" %}
{% load wonderment %}

{% block title %}{{ participant.parent.name }} | {{ block.super }}{% endblock %}

{% block header %}{{ session }}: {{ participant.parent.name }}{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'participant_detail' session_id=session.id participant_id=participant.id %}">{{ participant.parent.name }}</a></li>
{% endblock %}

{% block main %}
{% with participant.parent as parent %}
<article class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">
      <strong>{{ parent }}</strong> -
      <a href="mailto:{{ parent.email }}">{{ parent.email }}</a> -
      {{ parent.phone }}
      {% if parent.phone_type %}({{ parent.phone_type }}){% endif %}
    </h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Paid</dt>
      <dd>${{ participant.paid|default:0 }}</dd>
    </dl>
    {% if parent.kids %}
    <ul class="list-group">
      {% for child in parent.kids %}
      <li class="list-group-item">
        {{ child.name }} ({{ child|age }})
        {% if child.studies_this_session %}
        :
        {% for student in child.studies_this_session %}
        <a href="{% url 'class_detail' session_id=session.id class_id=student.klass_id %}">{{ student.klass.name }}</a> ({{ student.klass.when }})
        {% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</article>
{% endwith %}
{% endblock %}
