{% extends "base.html" %}

{% block title %}Registration done | {{ session.name }} | Wonderment{% endblock %}

{% block body %}
<h2>Thanks for registering for Wonderment {{ session.name }}!</h2>

{% if session.online_payment and bill.owed %}
<p class="alert alert-warning" role="alert">
  <strong>Your registration is not yet complete!</strong> You have paid
  ${{ paid }} of your total of ${{ bill.total }}; your registration and class selections
  are not confirmed until you return to
  <a href="{{ payment_url }}">{{ payment_url }}</a> and pay the remaining ${{ bill.owed }}.
</p>
{% else %}
<p class="alert alert-success" role="alert">
  <strong>Your registration is complete!</strong> Thanks for registering for
  Wonderment! You should receive an email with your registration details.
</p>
{% endif %}

<p class="alert alert-info" role="alert">
  Your registration summary:
</p>

<pre>
  {{ summary }}
</pre>

<form method="post">
  {% csrf_token %}
  <p class="alert alert-warning" role="alert">
    If you haven't received a registration confirmation email, or want a
    summary of your registration re-sent to you:

    <button type="submit">Send me my registration summary by email</button>
  </p>
</form>

{% endblock %}
