{% extends "base.html" %}

{% block title %}Registration link sent | Wonderment{% endblock %}

{% block body %}
<h2>Wonderment registration link sent</h2>

<p class="alert alert-success" role="alert">
  We've emailed you a link to your registration page!
</p>

<p class="alert alert-warning" role="alert">
  If you don't see the email, please wait a few minutes, and check your spam
  folder. If you still can't find
  it, <a href="mailto:info@wondermentblackhills.com">email</a> us and we'll get
  you your registration link.
</p>

{% endblock %}
