{% extends "base.html" %}

{% block title %}Registration done | {{ session.name }} | Wonderment{% endblock %}

{% block body %}
<h2>Thanks for registering for Wonderment {{ session.name }}!</h2>

<p class="alert alert-success" role="alert">
  <strong>To complete your registration</strong>, please look for a Paypal
  invoice in your email inbox within the next day, and complete the payment via
  PayPal.
</p>

<p class="alert alert-warning" role="alert">
 <strong>Early registration ends August 28, 2015</strong>; the cost will
 increase after that date.
</p>

{% endblock %}
