{% extends "base.html" %}

{% block title %}{{ session }} | {{ block.super }}{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{% block header %}{{ session }}{% endblock %}</h1>
</div>

<ol class="breadcrumb">
  {% block breadcrumb %}
  <li><a href="{% url 'home' %}">All sessions</a></li>
  <li><a href="{% url 'session' session_id=session.id %}">{{ session }}</a></li>
  {% endblock %}
</ol>

{% block main %}
<div class="list-group">
  <a class="list-group-item" href="{% url 'classdays' session_id=session.id %}">Attendance</a>
  <a class="list-group-item" href="{% url 'class_list' session_id=session.id %}">Classes</a>
  <a class="list-group-item" href="{% url 'parent_emails' session_id=session.id %}">Parent Emails</a>
  <a class="list-group-item" href="{% url 'parents_by_contribution' session_id=session.id %}">Parents by Contribution</a>
  <a class="list-group-item" href="{% url 'participant_list' session_id=session.id %}">All Parents</a>
  <a class="list-group-item" href="{% url 'paid_participants_csv' session_id=session.id %}">Paid Parents CSV</a>
  <a class="list-group-item" href="{% url 'all_students' session_id=session.id %}">All Paid Students</a>
  <a class="list-group-item" href="{% url 'teachers' session_id=session.id %}">Teachers</a>
  <a class="list-group-item" href="{% url 'teacher_emails' session_id=session.id %}">Teacher Emails</a>
  {% if session.name == "Spring 2015" %}
  <a class="list-group-item" href="{% url 'spring2015survey_results' %}">Evaluation Summary</a>
  {% elif session.name == "Fall 2015" %}
  <a class="list-group-item" href="{% url 'fall2015eval_results' %}">Evaluation Summary</a>
  {% endif %}
</div>
{% endblock %}

{% endblock %}
